/*
 * Import some open Google fonts from: https://fonts.google.com
 * Oswald for titles and larger headings and Roboto for body text (sans-serif as fallback)
 * MedievalSharp saving time for in-class examples (cursive as fallback)
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=MedievalSharp&display=swap');

:root {
    --main-bg-color: #DDDDDD;
    --panel-bg-color:  #FEFDFE;
    --main-text-color: #000;
    --title-text-color: #EEEDEE;
    --title-bg-color: #404040;
    --border-subtle-color: #EEEDEE;
    --color-accent: #28794B;
    --color-accent-light: #4C986D;
    --color-accent-dark: #0F5B30;
    --textarea-bg-color: var(--main-bg-color);
    --textarea-text-color: #000;
}

/* 
 * box-sizing: border-box;
 * Actual width and height of an element is comparatively sized the same 
 * regardless of how much padding or border thickness is given
 * to elements with the same width and height 
 * (padding and border are included in total of width and height) 
 */
* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.multi-col-grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 0px 10px;

    /* for two columns */
    grid-template-columns: 300px 300px;
    width: 610px;

    /* for three columns */
    /*
    grid-template-columns: 300px 300px 300px;
    width: 920px;
    */
}

.titlePanel { 
    text-align: center;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
 
    color: var(--title-text-color);
    background-color: var(--title-bg-color);

    /* for two columns */
    grid-column: 1 / span 2;

    /* for three columns */
    /*
    grid-column: 1 / span 3;
    */
}

.panel {
    padding: 0px 10px;
    color: var(--main-text-color);
    background-color: var(--panel-bg-color);
    border: 1px solid var(--border-subtle-color);
}

.panel-buttons {
    padding: 10px 10px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border: 0px solid var(--border-subtle-color);
}

button {
    padding: 5px;
    margin: 5px;

    border-radius: 4px;
 
    font-size: 0.75em;

    background-color: var(--color-accent);
    color: var(--border-subtle-color);
    border-color: var(--color-accent-dark);

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

button:hover {
    color: white;
    background-color:  var(--color-accent-light);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    color: white;
    background-color: var(--color-accent-light);
    transform: translateY(2px);
    box-shadow: 0 0 0 0 rgba(0,0,0,0,0);
}

input[type=text] {
    background-color: var(--border-subtle-color);
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 0px solid var(--border-subtle-color);
    border-radius: 4px;
    font-size: 1em;
}

input[type=text]:focus {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid var(--border-subtle-color);
    border-radius: 4px;
    font-size: 1em;
}

@media only screen and (max-width: 920px) {
    .multi-col-grid {
        grid-template-columns: 300px 300px;
        width: 602px;
    }
    .titlePanel {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 610px) {
    .multi-col-grid {
        grid-template-columns: 300px;
        width: 300px;
    }
    .titlePanel {
        grid-column: 1 / span 1;
    }
}

/*
original color scheme on paletton.com: 
http://paletton.com/#uid=30D0u0kllllaFw0g0qFqFg0w0aF
Went much lighter and simpler afterwards
*/
